:root {
  min-height: 100vh;
  --foreground-rgb: 0, 0, 0; /*black text*/
  --background-start-rgb: 214, 219, 220; /*greyish background*/
  --background-end-rgb: 255, 255, 255; /*white background (at the end)*/
  --component-foreground: rgb(0, 0, 0);
  --component-background: rgb(255, 255, 255);
  --default-border-radius: 10px;
  --default-font-size: 20px;
}

div, header { /*main div; only 1 header*/
  display: flex;
  flex-direction: column;
  align-items: center; /*x-direction*/
  justify-content: center; /*y-direction*/
  font-size: var(--default-font-size);
}

header { 
  padding: 1em;
  height: 25vh;
}

h1 { /*reserved for header title*/
  font-size: 2.5em;
  font-weight: bold;
}

p {
  margin-bottom: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 41, 36, 35;
    --background-end-rgb: 0, 0, 0;
    --component-foreground: rgb(255, 255, 255);
    --component-background: rgb(0, 0, 0);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
