:root {
  min-height: 100vh;
  height: fit-content;
  --foreground-rgb: rgb(0, 0, 0); /*black*/
  --background-start-rgb: rgb(214, 219, 220); /*greyish*/
  --background-end-rgb: rgb(255, 255, 255); /*white*/
  --component-foreground: rgb(0, 0, 0);
  --component-background: rgb(255, 255, 255);
  --default-font-size: 3vh;
}

div,
hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--default-font-size);
}

hgroup { /*only used in Upload*/
  margin-bottom: 0.2rem;
  height: auto;
  justify-content: start;
}

header {
  display: flex;
  flex-direction: row;
  height: fit-content;
  text-align: center;
  margin: 1rem 0rem;
}


h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0rem 3rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1.0rem;
}

button {
  cursor: pointer;
}

/* Mobile */
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.9rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

/*Dark theme*/
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 41, 36, 35;
    --background-end-rgb: 0, 0, 0;
    --component-foreground: rgb(255, 255, 255);
    --component-background: rgb(0, 0, 0);
  }
}