.serviceRecord,
.serviceFiles {
  padding: 5px 20px;
  width: 32vw;
  height: auto;
  justify-content: left; /*vertically top*/
}


.serviceFiles {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid;
  border-radius: 10px;
  border-color: var(--component-foreground);
  
}

.serviceRecordContent {
  height: 23vh;
  width: 100%;
  justify-content: space-between; /*make the mic div go up */
  
  /*border-color: rgb(247, 9, 9);*/
}

.serviceFilesContent {
  height: 100%;
  width: 100%;
  justify-content: start; /*make the mic div go up */
  /*border: 1px dotted; 
  border-color: rgb(247, 9, 9);*/
}


.serviceRecordMic,
.serviceRecordPlay,
.serviceRecordAudio,
.serviceFilesUpload,
.serviceFilesEnd {
  padding: 5px 0px;
  height: auto; /*no greater effect on the upload div, don't know why*/
  width: 100%;
  justify-content: center; /*y-direction for upload, x-direction for record*/
}

.serviceRecordMic,
.serviceRecordPlay {
 
  height: 50%;
  flex-direction: row;
  justify-content: space-evenly; /*align in x-direction for record*/
  /*border: 1px solid;*/
}


.serviceRecordAudio {
  height: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.serviceRecordAudio audio {
  padding: 2px; /*to centralise...*/
  height: 10vh;
  /*border: 1px solid;*/
}


.serviceFilesEnd {
  margin-bottom: 6px;
}



.uploadButton,
.serviceFilesEnd button,
.serviceFilesEnd label {
  align-items: center; /*align in y-direction, opposite to globals.css div*/
  color: var(--component-foreground);
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.uploadButton {
  margin-bottom: 2px;
  width: 40%;
  max-width: 200px;
  

}

.uploadButton label {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex; /*must put hmm*/
  flex-direction: row;
  justify-content: center; /*align in x-direction*/
  align-items: center;
  cursor: pointer;
  background-color: #e0e0e0; /*e0e0e0*/
  box-shadow: 0px 1px 1px 2px rgb(114, 114, 114);
  border-radius: 5px;
  border: 1px solid;
}

.serviceFilesUpload button, .serviceRecordAudio button {
  /*referring to the dustbin delete icon -- NEED TO REMOVE LATER*/
  background-color: transparent; /*not none*/
  padding: 0px;
  border: none;
}



.serviceFilesEnd button,
.serviceFilesEnd label {
  margin-bottom: 10px;
  border-radius: 10px;
  width: 39%; /*100%; <-- hmm why does it not stretch anymore?*/
  max-width: 200px;
  max-height: 100px; /*force fit number*/
  border: none;
  background-color: #c1e9f5;
  color: var(--component-foreground);
}

.serviceRecordMic button,
.serviceRecordPlay button {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center; /*align in y-direction*/
  justify-content: center; /*align in x-direction*/
  border-radius: 50%;
}

.serviceRecordMic button {
  /*potential repeat from serviceFiles .label*/
  height: 12vh;
  aspect-ratio: 1/1;
  border: 1px solid;
  color: rgb(105, 104, 104);
  background-color: #ff0000;
  box-shadow: 0px 0px 0px 1.1vh rgb(255, 255, 255) inset;
  /*^format h-offset v-offset blur spread color |inset|initial|inherit;*/
}

.serviceRecordPlay button {
  height: 8vh;
  width: 8vh; /*CANNOT DO CALCULATION??*/ /*100%; <-- hmm why does it not stretch anymore?*/
  border: none;
}

.serviceRecordMic button:hover {
  /*background-color: #ff6464;*/
  transform: scale(1.05);
}

.serviceRecordMic button:active,
.serviceRecordAudio button:active,
.serviceRecordAudio a:hover,
.serviceFiles button:active, 
.uploadButton label:active
.serviceFilesUpload button:active
.serviceFilesUpload button:hover {
  opacity: 0.5;
}

.serviceRecordAudio a {
  opacity: 1; /*alternative to background-color change, if not, separate*/
}

.uploadButton:hover, .uploadButton label:hover {
  transform: translateY(1.5px);
  box-shadow: 0px 0px 0px 0px var(--component-background);
  cursor: pointer;
}

.serviceFilesEnd button:hover,
.serviceFilesEnd label:hover {
  background-color: #9fdef1;
  cursor: pointer;
}

.transcribe {
  width: 100vw; /*otherwise the width of div vbox is very small*/ /*how come 100% only works for upload*/
  padding: 1vw 10vw;
  flex-direction: column;
  align-items: flex-start;
  /*background-color: rgba(255, 255, 255, 0.2);*/
}

@media (prefers-color-scheme: dark) {
  .serviceFilesUpload button {
    background-color: #666666;
    box-shadow: 0px 1px 1px 2px rgb(219, 216, 216);
  }

  .serviceFilesEnd button,
  .serviceFilesEnd label {
    background-color:#03b9da;
  }
}
