.serviceRecord,
.serviceFiles {
  height: auto;
  justify-content: flex-start; /*vertically top*/
}

.serviceRecord {
  width: 100vw;
}

.serviceFiles {
  padding: 5px 20px;
  width: 23rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid;
  border-radius: 10px;
  border-color: var(--component-foreground);
}

.serviceFiles p, .serviceFiles small {
  display: flex;
  align-items: center;
  text-align: center;
}

.serviceRecordContent {
  display: flex;
  height: 8rem;
  width: 100%;
  justify-content: space-between; /*mic in div go up */
}

.serviceFilesContent {
  height: 100%;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.serviceRecordMic,
.serviceRecordPlay,
.serviceRecordAudio,
.serviceFilesUpload,
.serviceFilesEnd {
  padding: 5px 0px;
  height: auto;
  width: 100%;
}

.serviceRecordMic,
.serviceRecordPlay {
  padding: 0px;
  height: auto;
  max-width: 250px;
  flex-direction: row;
}

.serviceRecordPlay {
  justify-content: space-between; /*align in x-direction*/
}

.serviceRecordMic button,
.serviceRecordPlay button {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.serviceRecordMic button {
  height: 4.5rem;
  aspect-ratio: 1/1;
  border: 1px solid;
  color: rgb(105, 104, 104);
  background-color: #ff0000;
  box-shadow: 0px 0px 0px 0.5rem rgb(255, 255, 255) inset;
  /*^format h-offset v-offset blur spread color |inset|initial|inherit;*/
}

.serviceRecordPlay button {
  margin: 0px 1px;
  height: 8vh;
  aspect-ratio: 1/1;
  border: none;
}

.serviceRecordMic button:hover {
  transform: scale(1.05);
  filter: brightness(100%); /*overwrite default button style*/
}

.serviceRecordMic button:active {
  filter: brightness(90%); /*overwrite default button style*/
}

.serviceRecordAudio {
  height: 50%;
  flex-direction: row;
}

.serviceRecordAudio audio {
  display: block;
  height: 100%;
}

.serviceRecordAudio button {
  padding: 0px;
  background-color: transparent; /*not none*/
  border: none;
}

.uploadButton, /*button tag*/
.serviceFilesEnd button {
  align-items: center;
  color: var(--component-foreground);
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.serviceFilesEnd button {
  margin-bottom: 10px;
  width: 8rem;
  max-width: 200px;
  height: auto;
  border: none;
  background-color: #c1e9f5;
  color: var(--component-foreground);
}

.serviceFilesEnd button,
.serviceFilesEnd label {
  border-radius: 10px;
}

.serviceFilesEndConfirm, /*serviceFilesEnd button tag for confirm*/
.serviceFilesEndReselect /*serviceFilesEnd button tag for reselect*/ label {
  display: block; /*for width to take effect on the label tag*/
  padding: 10px;
}

.uploadButton /*button tag*/ {
  margin-bottom: 4px;
  width: 8rem;
  border: none; /*to remove the border box*/
  background-color: transparent;
}

.uploadButton label {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #e0e0e0;
  box-shadow: 0px 1px 1px 2px rgb(114, 114, 114);
  border-radius: 5px;
  border: 1px solid;
}

.serviceRecordAudio a:hover {
  opacity: 0.5;
}

.serviceRecordAudio a {
  opacity: 1;
}

.uploadButton:hover,
.uploadButton label:hover {
  transform: translateY(1.5px);
  box-shadow: 0px 0px 0px 0px var(--component-background);
  cursor: pointer;
}

.serviceFilesEnd label:hover {
  cursor: pointer;
}

/* Mobile */
@media (max-width: 600px) {
  .serviceRecordContent {
    transform: scale(0.8);
  }

  .serviceRecordPlay {
    max-width: 220px;
  }

  .serviceRecordAudio audio {
    height: 60%;
    transform: scale(0.9);
  }

  .serviceFiles {
    max-width: 90vw;
  }
}

@media (prefers-color-scheme: dark) {
  .uploadButton label {
    background-color: #666666;
    box-shadow: 0px 1px 1px 2px rgb(219, 216, 216);
  }

  .serviceFilesEnd button,
  .serviceFilesEnd label {
    background-color: #03b9da;
  }
}
