.serviceBox {
  transform: translate(0px, 3rem);
  padding: 5px 20px;
  width: 85vw;
  height: fit-content;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  
}

.serviceButton { /*button tag*/
  margin: 0rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /*vertically top*/
  align-items: center;
  padding: 5px 20px;
  width: 32vw;
  max-width: 30rem;
  /*height: 60vh;*/
  aspect-ratio: 4 / 3;
  background: linear-gradient(
    /*linear-gradient(angle, color-stop1, color-stop2);*/ 145deg,
    rgba(161, 219, 247, 0),
    rgba(161, 219, 247, 0),
    rgba(161, 219, 247, 0.2),
    rgba(161, 219, 247, 0.5),
    rgba(161, 219, 247),
    rgb(161, 219, 247)
  );
  border: 3px solid;
  border-radius: 10px;
  border-color: var(--component-foreground);
}

.serviceButton:hover {
  opacity: 0.5;
}

.serviceButton:active {
  opacity: 1; /*alternative to background-color change, if not, separate*/
}

/* Mobile */

@media (max-width: 600px) { /*768px*/
  .serviceBox{
    transform: translate(0px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .serviceButton{
    width: 10rem;
    aspect-ratio: 1 / 1;
    margin: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .serviceButton {
    background: linear-gradient(
      /*linear-gradient(angle, color-stop1, color-stop2);*/ 145deg,
      rgba(94, 36, 8, 0),
      rgba(94, 36, 8, 0),
      rgba(94, 36, 8, 0.2),
      rgba(94, 36, 8, 0.5),
      rgba(94, 36, 8),
      rgb(94, 36, 8) /*sounds like a bad idea to just opp.*/
    );
    border-color: var(--component-foreground);
  }
}
